*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
    color: #fff;
    background-color: #413E4A;
    font-size: 100.01%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
  font-size: 1em;
  line-height: 1.5;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
h1{
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 2.5em;
}
.wrapper{
    padding: 5px;
    width: 85%;
    background-color: #333;
    margin: 0 auto;
}
.picture{
    overflow: hidden;
    position: relative;
    float: left;
    margin: 2px;
    margin-top: -2px;
}
.legend{
    background-color: #000;
    padding: 10px 0;
    position: absolute;
    top: -120px;
    width: 100%;
    opacity: 0.8;
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;

    -webkit-transition: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition: all;
    -moz-transition-duration: 0.3s;
    transition: all;
    transition-duration: 0.3s;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.picture:hover{
    cursor: pointer;
}
.picture:hover .legend{
    top:0px;
}