html{
    color: #fff;
    background-color: #413E4A;
}

.picture{
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0 3px;
}

.legend{
    background-color: #000;
    padding: 10px 0;
    position: absolute;
    top: -120px;
    width: 100%;
    opacity: 0.8;
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;

    -webkit-transition: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition: all;
    -moz-transition-duration: 0.3s;
    transition: all;
    transition-duration: 0.3s;
}

.picture:hover{
    cursor: pointer;
}

.picture:hover .legend{
    top:0px;
}