nav{
    display: block;
    position: fixed;
    width: 100%;
    background-color: #333;
    opacity: 1;
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 2;
    color: #fff;
    text-align: center;
}
nav span{
    display: inline-block;
    padding: 3px;
    margin-left: 2%;
    position: relative;
}
nav span:after{
    content: '';
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0;

    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;

    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
nav span:hover:after{
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
nav span a{
    color: #fff;
    text-decoration: none;
    font-weight: 900;
}
main{
    margin-top: 80px;
}
.gallery{
    background-color: #413E4A;
    padding: 15px;
}
.picture{
    overflow: hidden;
    position: relative;
    float: left;  
    margin-top: -2px;
}
.legend{
    background-color: #333;
    padding: 10px 0;
    position: absolute;
    top: -120px;
    width: 100%;
    opacity: 1;
    font-size: 0.9em;
    font-weight: 700;
    text-align: center;
    color: #fff;
    -webkit-transition: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition: all;
    -moz-transition-duration: 0.3s;
    transition: all;
    transition-duration: 0.3s;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.picture:hover{
    cursor: pointer;
}
.picture:hover .legend{
    top:0px;
}